.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
    background-color: lightslategrey;
  }

  .headerText {

    display: flex;
    flex-direction: column;
    font-size: 50px;
  
  }

  .stats {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    align-items: center;
    
  }

  .voteCount {
    font-size: 30px;
    margin-top: -50px;
  }

  .inside {
    background: lightblue;
    text-align: right;
    margin-right: 10%;
  }
  .outside{
    background: whitesmoke;
  }
  .labelingLeft {
    margin-right: 30px;
  }
  .labelingRight {
    margin-left: 30px;
  }

  .commentData {
    background-color: white;
    height: 60px;
    width: 600px;
    margin-bottom: 12px;
    border-radius: 4px;
  }

.commentText {
  font-size: 18px;
  margin: 15px;
}

.padding15{
  padding-top: 25px;
}

.addComment{
  background-color: lightblue;
  height: 120px;
  width: 600px;
  margin-bottom: 25px;
  border-radius: 4px;
}

.commentInput{
  font-size: 18px;
  margin: 15px;
  

}

.submitButton{

}